.header {
    width: 100%;
    box-shadow: 0 0 15px #ffffff70;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 5px;
    font-family: Cambria, serif;
    padding: 1.8rem 0;
}