@media screen and (max-width: 500px) {
    .header {

        .title {
            margin-left: 0rem !important;
        }

        #theme-toggle {
            margin-right: 1rem !important;
        }
    }
}

.header {
    box-shadow: 0 0 10px var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 0;

    .title {
        display: flex;
        align-self: center;
        font-family: Cambria, serif;
        font-size: 3rem;
        gap: 5px;
        margin-left: 8rem;
    }

    #theme-toggle {
        display: flex;
        margin-right: 2rem;
    }
}