<div class="project-buttons-container">
  <div class="row">
    <a
      href="https://finax.hawetec.com.br"
      aria-label="Finax - financial web system"
    >
      <button mat-stroked-button>Finax</button>
    </a>

    <a href="http://hawetec.com.br/mario/" aria-label="Mario game">
      <button mat-stroked-button>Mário</button>
    </a>
  </div>

  <div class="row">
    <a
      href="https://healthcare.hawetec.com.br"
      aria-label="HealthCare - health web system"
    >
      <button mat-stroked-button>HealthCare</button>
    </a>

    <a
      href="https://hawetec.com.br/mata-mosquito/"
      aria-label="Mata mosquito game"
    >
      <button mat-stroked-button>Mata mosquito</button>
    </a>
  </div>

  <div class="row">
    <a
      href="https://hawetec.com.br/cata-vento/"
      aria-label="Cata vento project"
    >
      <button mat-stroked-button>Cata Vento</button>
    </a>

    <a href="https://hawetec.com.br/horacerta/" aria-label="Hora certa project">
      <button mat-stroked-button>Hora Certa</button>
    </a>
  </div>

  <div class="row">
    <a
      href="https://hawetec.com.br/sistema-solar/"
      aria-label="Sistema solar project"
    >
      <button mat-stroked-button>Sistema solar</button>
    </a>

    <a href="https://hawetec.com.br/weather/" aria-label="Weather project">
      <button mat-stroked-button>Weather</button>
    </a>
  </div>

  <div class="row">
    <a href="https://hawetec.com.br/sorteitor/" aria-label="Sorteitor project">
      <button mat-stroked-button>Sorteitor</button>
    </a>

    <a href="https://hawetec.com.br/ilusao/" aria-label="Ilusao project">
      <button mat-stroked-button>Ilusão</button>
    </a>
  </div>

  <div class="row">
    <a href="https://hawetec.com.br/magica/" aria-label="Magic project">
      <button mat-stroked-button>Mágica</button>
    </a>

    <a href="https://hawetec.com.br/cassino/" aria-label="Cassino project">
      <button mat-stroked-button>Cassino</button>
    </a>
  </div>
</div>
