<div class="simple-page">
  <app-header></app-header>

  <div class="body">
    <div class="about">
      @if (showButton()) {
      <div class="add-home-screen">
        <button mat-stroked-button (click)="addToHomeScreen()">
          Adicionar à tela inicial
        </button>
      </div>
      }

      <div class="text">
        <span>
          Bem vindo ao nosso espaço digital. Explore nossas criações, inspire-se
          e compartilhe dessa paixão conosco!
        </span>

        <span>
          Abaixo você encontrará nossos contatos e os links dos nossos projetos
        </span>
      </div>
    </div>

    <div class="content">
      <app-profile-cards id="profile-cards"></app-profile-cards>

      <app-project-buttons id="project-buttons"></app-project-buttons>
    </div>
  </div>
</div>
