<div class="simple-page">
  <app-header></app-header>

  <div class="about">
    <span>
      Bem vindo ao nosso espaço digital. Explore nossas criações, inspire-se e
      compartilhe dessa paixão conosco!
    </span>

    <span>
      Abaixo você encontrará nossos contatos e os links dos nossos projetos
    </span>
  </div>

  <div class="content">
    <div class="left">
      <div class="card">
        <div class="img gh" alt="Gabriel Hawerroth profile image"></div>

        <div class="name">Gabriel Hawerroth</div>

        <div class="contact">
          @defer {
          <a href="https://wa.me/5547996609550" target="_blank">
            <div class="button whats"></div>
          </a>
          <a href="mailto:gabrielhawerroth04@gmail.com" target="_blank">
            <div class="button email"></div>
          </a>
          <a
            href="https://www.linkedin.com/in/gabriel-hawerroth/"
            target="_blank"
          >
            <div class="button linkedin"></div>
          </a>
          <a href="https://github.com/gabriel-hawerroth" target="_blank">
            <div class="button github"></div>
          </a>
          }
        </div>
      </div>

      <div class="card">
        <div class="img dh" alt="Danilo Hawerroth profile image"></div>

        <div class="name">Danilo Hawerroth</div>

        <div class="contact">
          @defer {
          <a href="https://wa.me/5547996140788" target="_blank">
            <div class="button whats"></div>
          </a>
          <a href="mailto:dhawerroth@gmail.com" target="_blank">
            <div class="button email"></div>
          </a>
          <a
            href="https://www.linkedin.com/in/danilo-hawerroth-7063b635/"
            target="_blank"
          >
            <div class="button linkedin"></div>
          </a>
          }
        </div>
      </div>
    </div>

    <div class="right">
      <div class="row">
        <a href="https://hawetec.com.br/finax/">
          <button mat-stroked-button color="primary">Finax</button>
        </a>

        <a href="http://hawetec.com.br/mario/">
          <button mat-stroked-button color="primary">Mário</button>
        </a>
      </div>

      <div class="row">
        <a href="https://hawetec.com.br/healthcare/">
          <button mat-stroked-button color="primary">HealthCare</button>
        </a>

        <a href="https://hawetec.com.br/mata-mosquito/">
          <button mat-stroked-button color="primary">Mata mosquito</button>
        </a>
      </div>

      <div class="row">
        <a href="https://hawetec.com.br/cata-vento/">
          <button mat-stroked-button color="primary">Cata Vento</button>
        </a>

        <a href="https://hawetec.com.br/horacerta/">
          <button mat-stroked-button color="primary">Hora Certa</button>
        </a>
      </div>

      <div class="row">
        <a href="https://hawetec.com.br/sistema-solar/">
          <button mat-stroked-button color="primary">Sistema solar</button>
        </a>

        <a href="https://hawetec.com.br/weather/">
          <button mat-stroked-button color="primary">Weather</button>
        </a>
      </div>

      <div class="row">
        <a href="https://hawetec.com.br/sorteitor/">
          <button mat-stroked-button color="primary">Sorteitor</button>
        </a>

        <a href="https://hawetec.com.br/ilusao/">
          <button mat-stroked-button color="primary">Ilusão</button>
        </a>
      </div>

      <div class="row">
        <a href="https://hawetec.com.br/magica/">
          <button mat-stroked-button color="primary">Mágica</button>
        </a>
      </div>
    </div>
  </div>
</div>
