@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(( //
            color: ( //
                theme-type: light,
                primary: mat.$orange-palette,
            ),
            typography: ( //
                brand-family: 'system-ui',
                bold-weight: 900,
            ),
            density: (scale: -1),
        ));

html {
    @include mat.core-theme($theme);
    @include mat.all-component-themes($theme);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
app-root {
    width: 100%;
    height: 100%;
    color: rgb(244, 244, 244);
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #0f0f0f;
}

::-webkit-scrollbar {
    display: none;
}