@use '@angular/material' as mat;

@include mat.core();

$hawetec-primary: mat.define-palette(mat.$orange-palette, 500);
$hawetec-accent: mat.define-palette(mat.$blue-gray-palette, 200);
$hawetec-warn: mat.define-palette(mat.$red-palette, A700);

$hawetec-theme: mat.define-light-theme((color: (primary: $hawetec-primary,
                accent: $hawetec-accent,
                warn: $hawetec-warn, )));

@include mat.all-component-themes($hawetec-theme);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
app-root {
    width: 100%;
    height: 100%;
    color: rgb(244, 244, 244);
    font-family: 'Nunito', system-ui, -apple-system, sans-serif;
    background-color: #0f0f0f;
}

::-webkit-scrollbar {
    display: none;
}