@use "@angular/material" as mat;
@use "shared-styles.scss" as *;
@use "./../m3-theme.scss" as *;
@use "./easy-theming.css" as *;

@include mat.elevation-classes();
@include mat.app-background();

:root {
  @include mat.elevation-classes();
  @include mat.app-background();
  @include mat.all-component-themes($light-theme);

  .mdc-button--outlined {
    border-color: var(--primary-light) !important;
    color: var(--primary) !important;
    border-radius: $border-radius !important;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: var(--primary-font-color);
  font-family: system-ui, -apple-system, sans-serif;
  background-color: var(--background);
}

::-webkit-scrollbar {
  display: none;
}

.material-symbols-outlined {
  color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
