<div class="profile-cards-container">
  <div class="card">
    <div class="img gh" alt="Gabriel Hawerroth profile image"></div>

    <div class="name">Gabriel Hawerroth</div>

    <div class="contact">
      <a
        href="https://wa.me/5547996609550"
        target="_blank"
        aria-label="Gabriel Hawerroth whatsapp"
      >
        <img
          [ngSrc]="whatsImgLink"
          width="48"
          height="48"
          alt="whatsapp logo"
        />
      </a>

      <a
        href="mailto:gabrielhawerroth04@gmail.com"
        target="_blank"
        aria-label="Gabriel Hawerroth mail"
      >
        <img [ngSrc]="gmailImgLink" width="48" height="48" alt="gmail logo" />
      </a>

      <a
        href="https://www.linkedin.com/in/gabriel-hawerroth/"
        target="_blank"
        aria-label="Gabriel Hawerroth linkedin"
      >
        <img
          [ngSrc]="linkedinImgLink"
          width="48"
          height="48"
          alt="linkedin logo"
        />
      </a>

      <a
        href="https://github.com/gabriel-hawerroth"
        target="_blank"
        aria-label="Gabriel Hawerroth github"
      >
        <img [ngSrc]="githubImgLink" width="48" height="48" alt="github logo" />
      </a>
    </div>
  </div>

  <div class="card">
    <div class="img dh" alt="Danilo Hawerroth profile image"></div>

    <div class="name">Danilo Hawerroth</div>

    <div class="contact">
      <a
        href="https://wa.me/5547996140788"
        target="_blank"
        aria-label="Danilo Hawerroth whatsapp"
      >
        <img
          [ngSrc]="whatsImgLink"
          width="48"
          height="48"
          alt="whatsapp logo"
        />
      </a>

      <a
        href="mailto:dhawerroth@gmail.com"
        target="_blank"
        aria-label="Danilo Hawerroth mail"
      >
        <img [ngSrc]="gmailImgLink" width="48" height="48" alt="gmail logo" />
      </a>

      <a
        href="https://www.linkedin.com/in/danilo-hawerroth-7063b635/"
        target="_blank"
        aria-label="Danilo Hawerroth linkedin"
      >
        <img
          [ngSrc]="linkedinImgLink"
          width="48"
          height="48"
          alt="linkedin logo"
        />
      </a>
    </div>
  </div>
</div>
