<div class="profile-cards-container">
  <div class="card">
    <div class="img gh" alt="Gabriel Hawerroth profile image"></div>

    <div class="name">Gabriel Hawerroth</div>

    <div class="contact">
      <a
        href="https://wa.me/5547996609550"
        target="_blank"
        aria-label="Gabriel Hawerroth whatsapp"
      >
        <div class="button whats"></div>
      </a>
      <a
        href="mailto:gabrielhawerroth04@gmail.com"
        target="_blank"
        aria-label="Gabriel Hawerroth mail"
      >
        <div class="button email"></div>
      </a>
      <a
        href="https://www.linkedin.com/in/gabriel-hawerroth/"
        target="_blank"
        aria-label="Gabriel Hawerroth linkedin"
      >
        <div class="button linkedin"></div>
      </a>
      <a
        href="https://github.com/gabriel-hawerroth"
        target="_blank"
        aria-label="Gabriel Hawerroth github"
      >
        <div class="button github"></div>
      </a>
    </div>
  </div>

  <div class="card">
    <div class="img dh" alt="Danilo Hawerroth profile image"></div>

    <div class="name">Danilo Hawerroth</div>

    <div class="contact">
      <a
        href="https://wa.me/5547996140788"
        target="_blank"
        aria-label="Danilo Hawerroth whatsapp"
      >
        <div class="button whats"></div>
      </a>
      <a
        href="mailto:dhawerroth@gmail.com"
        target="_blank"
        aria-label="Danilo Hawerroth mail"
      >
        <div class="button email"></div>
      </a>
      <a
        href="https://www.linkedin.com/in/danilo-hawerroth-7063b635/"
        target="_blank"
        aria-label="Danilo Hawerroth linkedin"
      >
        <div class="button linkedin"></div>
      </a>
    </div>
  </div>
</div>
